.affix-card {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 3%;
    margin: 1%;
    text-align: center;
    padding: 3%;
    height: 20vh;
    width: 20vw;
    background-color: #515070;
    overflow: auto;
}

.affix-card:hover {
    border-radius: 50px;
}

.affix-card-name {
    color: #ff8e6e;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
}

.affix-card-name:hover {
    font-size: 40px;
}

.affix-card-description{
    color:#f6f6f6;
}

.affix-card-url{
    color:#ff8e6e
}