.affix-card {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    margin: 5% 5%;
    text-align: center;
    padding: 25px;
}

.affix-card:hover {
    border-radius: 50px;
}

.affix-card-name {
    color: red;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
}

.affix-card-name:hover {
    font-size: 40px;
}