.affix-card {
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    margin: 5% 1%;
    text-align: center;
    padding: 3%;
    height: 20vh;
    width: 20vw;
    background-color: gray;
    overflow: hidden;
}

.affix-card:hover {
    border-radius: 50px;
}

.affix-card-name {
    color: blue;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5%;
}

.affix-card-name:hover {
    font-size: 40px;
}

.affix-card-description{
    color:white;
}

.affix-card-url{
    color:blue
}