.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.affix-box {
  display:flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  width: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.main-title {
  text-align: center;
}

.main-page {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/326/460/849/coat-of-arms-undead-orc-wow-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: fixed;
  width: 100vw;
  height: 100vh;
}